h1{
    color: orange;
    background-color: bisque;
    font-size: 40px;
    text-decoration: underline;
    font-family: Arial;
    text-align: center;
}

p{
    color: slategrey;
    text-align: center;
    line-height: 30px;
    letter-spacing: 2px;
    column-count: 3;
    column-gap: 60px;
}

ul{
    /* border-width: 4px;
    border-style: dotted;
    border-color: crimson; */
    /* border-bottom: 4px solid crimson;
    border-left: 4px dotted crimson; */
    border: 4px dotted crimson;
}

li{
    list-style-type: none;
    /* text-shadow: 2px 2px lightcoral; */
    text-shadow: 2px 2px #e9e9e9;
}

span{
    /* display: block; */
    text-align: center;
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}

div{
    /* display: inline;*/
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}


p.valo{
    color: blue;
}

.heading{
    color: blanchedalmond;
}

#content{
    background-color: aqua;
}

div p{
    color:cadetblue
}

/* a[href]{
    background-color: yellow;
} */
a[href*="linked"]{
    background-color: yellow;
}
/* "=" means exact, * means shud include, $ means ends with
 */